/* Estilo predeterminado para los elementos <li> */
.texto-div-productos {
  font-size: 0.7rem;
}

#prod_id {
  background-color:rgb(240, 248, 255);
}

#prod_preciofinal {
  background-color: aquamarine;
  
}