/* Estilo predeterminado para los elementos <li> */
.texto-div-productos {
  font-size: 0.7rem;
}

#prod_id {
  background-color:rgb(240, 248, 255);
}

#prod_preciofinal {
  background-color: aquamarine;
  
}

.colorFondo {
  background-color: antiquewhite;
}

/* Carrusel para tabletas y dispositivos móviles */
@media (max-width: 991px) {
  .prod-2da-col {
    display: none;
    /* Ajusta ancho max para tabletas y dispositivos móviles */
  }
}